.App{
   margin-left: 20rem;
}

#name{
    margin-left: 20rem;
    margin-top: 2rem;
}

#wallet{
    margin-left: 20rem;
    margin-top: 2rem;
}

#import{
    margin-left: 20rem;
    margin-top: 2rem;
}

h4{
    margin-left: 20rem;
    margin-top: 2rem;  
}